body{
    margin-top: 0px;
}
header{
    position: sticky;
    z-index: 500;
    top: 0;
    width: 100%;
    height: 76px;
    background: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
    font-family: Poppins,"sans-serif";
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 63% 17%;
   
}
select{
    border: 0px;
    margin: 0px;
}
#head1{
    float: left;
    font-size: 51px;
   margin-left: 60px;
   position: relative;
   top: -4px;
  
 
} 
#head2{
 position: relative;
 top: -4px;
}
.head2{
    margin: 20px;
    font-size: 20px;
}
#head3{
    float: right;
    margin-right: 70px;
    position: relative;
    top: -8px;
    font-size: 25px;
    color: #fff;
   padding: 3px;
    background-color: #3a3e59;
    border-radius: 6px;
}

#div1{
    display: grid;
    margin: 10px 15% ;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-gap: 25px;

}
#div1-1{
    font-size: 45px;
    box-shadow: inset 3px 6px rgb(0 0 0 / 4%);
}
#div1-2{
    text-align: left;
    box-shadow:  3px 6px rgb(0 0 0 / 4%);
}
#div1-2-1{
    color: #ed6b5b;
    font-size: 55px;
}
button{
    border-radius: 10px;
    color: #fff;
    background-color: #ed6b5b;
    font-size: 22px;
    padding: 4px;
    border: 0px;
}
#div2{
    width: 70%;
    text-align: center;
    margin: 30px 15%;
    box-shadow: 3px 6px  rgb(0 0 0 / 5%);
    padding: 15px;

}
#arrow1{
    position: absolute;
    top: 540px;
    left: 350px;
}
#arrow2{
    position: absolute;
    top: 540px;
    right:330px ;
}